.rightBar {
  flex: 3.5;
}

.rightBarWrapper {
  padding: 20px 20px 0 0;
}
.birthdayContainer {
  display: flex;
  align-items: center;
}
.birthdayImg {
  width: 5rem;
  height: 5rem;
  margin-right: 10px;
}
.birthdayText {
  font-weight: 300;
  font-style: 15px;
}

.rightBarAd {
  width: 100%;
  margin: 30px 0;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.rightBarTitle {
  margin-bottom: 1.25rem;
}

.rightBarFriendsList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightBarTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.rightBarInfo {
  margin-bottom: 2rem;
}
.rightBarInfoItem {
  margin-bottom: 10px;
}
.rightBarInfoKey {
  font-weight: 500;
  margin-right: 0.5rem;
  color: #555;
}
.rightBarInfoValue {
  font-weight: 300;
}

.rightBarFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.rightBarFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
  cursor: pointer;
}
.rightBarFollowingImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.rightBarFollowingName {
}

.rightbarFollowButton {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
  background-color: #1872f2;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.rightbarFollowButton:focus {
  outline: none;
}
